<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />    

</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light flex-nowrap">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>           
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-link ">
                        <a class="nav-link" asp-action="Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="d-flex flex-grow-1 ">
                    <form class="d-none d-md-block mr-2 my-auto w-100 ">
                        <div class="input-group ">
                            <input type="text" class="form-control border border-right-0 " placeholder="Ara....">
                            <span class="input-group-append">
                                <button class="btn btn-light border border-left-0" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> Hesabım
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="nav-item nav-link" asp-action="Login">Giriş Yap</a>
                    <a class="nav-item nav-link" asp-action="SignUp">Üye Ol</a>

                </div>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid" style="padding-top:70px">
        <div class="d-flex flex-grow-1 ">
            <form class="d-block d-md-none pb-2 w-100">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control border border-right-0" placeholder="Ara...">
                    <span class="input-group-append">
                        <button class="btn btn-light border border-left-0" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        @RenderBody()
    </div>
</body>

</html>
