@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <link href="~/css/Sidebar.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-link">
                        <a class="nav-link" asp-action="Index" asp-controller="Member">Üye Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
                    {
                        <li class="nav-link">
                            <a class="btn btn-outline-info" asp-action="Index" asp-controller="Admin">Admin Sayfa <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    @*<li class="nav-link">*@
                    @*<a class="btn btn-outline-info" asp-action="Editor" asp-controller="Member">Editör Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
                <a class="btn btn-outline-info" asp-action="Manager" asp-controller="Member">Manager Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
                <a class="btn btn-outline-danger" asp-action="KayseriPage" asp-controller="Member">Kayseri Sayfası <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-link">
                <a class="btn btn-outline-danger" asp-action="ExchangeRedirect" asp-controller="Member">Exchange sayfası<span class="sr-only">(current)</span></a>
            </li>*@
                </ul>
                <div class="d-flex flex-grow-1">
                    <form class="mr-2 my-auto w-75 d-inline-block">
                        <div class="input-group">
                            <input type="text" class="form-control border border-right-0" placeholder="Ara...">
                            <span class="input-group-append">
                                <button class="btn btn-light border border-left-0" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <a class="nav-link" asp-action="Logout" asp-controller="Member" asp-route-returnUrl="/Home/">Çıkış <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 px-1 pt-4">
                <div class="sidebar">
                    <a class="btn btn-info btn-block mt-2" asp-action="ChangePassword" asp-controller="Member">Şifre Değiştir</a>
                    <a class="btn btn-info btn-block" asp-action="UserInfoEdit" asp-controller="Member">Kullanıcı Bilgileri </a>
                    <a class="btn btn-warning btn-block my-2" asp-action="Logout" asp-controller="Member" asp-route-returnUrl="/Home/">Çıkış</a>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>

        </div>

    </div>
</body>
</html>