
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<form asp-controller="Security" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All"></div>
    <input type="email" name="email" id="email" placeholder="Email" /><br />
    <input type="submit" value="Submit" />
</form>