
@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta http-equiv="refresh" content="5;URL='LogIn'">
<h4 class="alert alert-info">Şifreniz başarı ile güncellendi. Giriş sayfasına yönlendiriliyorsunuz...</h4>

