
@{
    Exception exception = ViewData["HandleException"] as Exception;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
     LA buralarda ki hatalara niyyyyyyyyyyyyyy böyle --- zeroya bölemedik baaaaaabba ---
    @exception.Message
</body>
</html>
